
.page-title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.8rem;
  color: #a57a21;
}

.react-joyride__tooltip div {
  margin-top: 0!important;
}

.notification-container {
    .message {
        font-size: 16px;
    }
}

#tidio-chat-iframe {
    bottom: 85px !important;
}
